body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
    width: 300px;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 10px;
    border-radius: 4px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-primary, .btn-secondary {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
}

.btn-secondary {
    background-color: #555;
    color: white;
}

#currentConfigs {
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
}


.notification {
    padding: 10px;
    color: white;
    display: none;
    margin-top: 10px;
    border-radius: 5px;
}

.notification.show {
    display: block;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}

#otp-countdown {
    margin-left: 10px;
    color: #777;
    font-weight: bold;
}

#otp-progress-bar {
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 4px;
    background-color: #f3f3f3;
}

#otp-progress-bar::-webkit-progress-bar {
    background-color: #f3f3f3;
}

#otp-progress-bar::-webkit-progress-value {
    background-color: #4CAF50; /* Change to any color you prefer */
}

#otp-progress-bar::-moz-progress-bar {
    background-color: #4CAF50; /* Change to any color you prefer */
}

